[submodule "app"]
	path = app
	url = https://github.com/zitherharpnomna/app.git
[submodule "assets"]
	path = assets
	url = https://github.com/zitherharpnomna/assets.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/zitherharpnomna/calendar.git
[submodule "dictionary"]
	path = dictionary
	url = https://github.com/zitherharpnomna/dictionary.git
[submodule "extension"]
	path = extension
	url = https://github.com/zitherharpnomna/extension.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/zitherharpnomna/fonts.git
[submodule "keyboard"]
	path = keyboard
	url = https://github.com/zitherharpnomna/keyboard.git
[submodule "shared"]
	path = shared
	url = https://github.com/zitherharpnomna/shared.git
[submodule "translate"]
	path = translate
	url = https://github.com/zitherharpnomna/translate.git