[submodule "app"]
	path = app
	url = https://github.com/zitherharpnomna/app.git
[submodule "assets"]
	path = assets
	url = https://github.com/zitherharpnomna/assets.git
[submodule "extension"]
	path = extension
	url = https://github.com/zitherharpnomna/extension.git
[submodule "keyboard"]
	path = keyboard
	url = https://github.com/zitherharpnomna/keyboard.git
[submodule "translate"]
	path = translate
	url = https://github.com/zitherharpnomna/translate.git